img{
    width:400px;
    height:400px;
    margin:auto;
}
.main-section{
    display:flex;
    justify-content: center;
}
.img-section{
    margin-right: 50px;
}
p{
    font-family:fantasy;
    font-size: 30;
}